<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>S3rice</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Roboto'
	rel='stylesheet' type='text/css'>

<!-- use the font -->
<style>
body {
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
}

th {
	padding: 5px 20px 5px 20px;
	text-align: center;
}

td {
	padding: 5px 20px 5px 20px;
	text-align: center;
}
</style>
</head>


<h2
	style="background-color: black; align: center; color: orange; text-align: center; padding: 10px 0px 10px 0px">
	S3rice pvt ltd</h2>
<h3 style="color: purple">
	Dear, &nbsp;<span th:text="${firstName}"></span> &nbsp;<span
		th:text="${lastName}"></span>
</h3>
<h3 style="color: green">

	You have purchased the order value of  &nbsp;<b style="color:navy" th:text="${purchaseOrder.orderAmount}"> </b>&nbsp;Rupees
	<!-- &nbsp; against the due &nbsp;<b style="color:navy" th:text="${theDueBeforePayment}"></b>  -->
</h3>


<div>
		<h3 style="color: red" class="text-center"
			th:text="|The Order Details For The Order ID : ${purchaseOrder.orderId}|"></h3>
		<table border="1">
			<thead>
				<tr>
					<th>Product ID</th>
					<th>Product Name</th>
					<th>Product Type</th>
					<th>Net Weight (KG)</th>
					<th>Product Cost</th>
					<th>Purchased Quantity</th>
					<th>Total Cost</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="orderDetail: ${purchaseOrder.orderdetails}">

					<td style="color: blue" th:text="${orderDetail.product.productId}"></td>
					<td style="color: blue" th:text="${orderDetail.product.productName}"></td>
					<td style="color: blue" th:text="${orderDetail.product.productType}"></td>
					<td style="color: blue" th:text="${orderDetail.product.netWeight}"></td>
					<td style="color: blue" th:text="${orderDetail.product.currentCost}"></td>
					<td style="color: blue" th:text="${orderDetail.quantity}"></td>
					<td style="color: blue" th:text="${orderDetail.cost}"></td>
				</tr>
				<tr style="background-color: maroon">
					<td style="color: white;" colspan="3">Final
						Cost</td>
					<td style="color: white;"  colspan="4"
						th:text="${purchaseOrder.orderAmount}"></td>

				</tr>

			</tbody>
		</table>
	</div>


<p style="color: navy">Regards,<br>
<b style="color: navy" th:text="${signature}"></b><br>
<b style="color: navy" th:text="${location}"></b></p>
</body>
</html>